* {
  box-sizing: border-box;
}

body { 
  background: tomato;
}

#wrapper {
  margin: 0 auto;
  width: 600px;
  min-height: 200px;
  background-color: white;
  padding: 40px;
}

#quote {
    margin-bottom: 20px;
}

.quote-box {
  min-height: 50px;
  text-align: center;
  color: tomato;

}

.author-box {
  text-align: right;
  margin-top: 10px; 
  color: tomato;
}

#buttons {

}

#button {
  float: right;
  
}

button {
  background-color: tomato;
  padding: 2%;
  color: white;
  border: none;
  border-radius: 2px;
}

span {
  font-size: 5em;
}
